Django==1.11.10 # pyup: ignore
brazilnum==0.8.8
celery==4.1.0
dj-database-url==0.5.0
django-assets==0.12
django-bulk-update==2.2.0
django-cors-middleware==1.3.1
django-debug-toolbar==1.9.1
django-extensions==2.0.6
django-test-without-migrations==0.6
djangorestframework==3.7.7
freezegun==0.3.10
gunicorn==19.7.1
newrelic==3.0.0.89
psycopg2==2.7.4
py-gfm==0.1.3
python-decouple==3.1
python-memcached==1.59
python-twitter==3.4.1
reprint==0.3.0 # pyup: ignore
requests==2.18.4
rows==0.3.1
whitenoise==3.3.1
