Django==3.2.9
brazilnum==0.8.8
celery==5.2.1
dj-database-url==0.5.0
django-assets==0.12
django-bulk-update==2.2.0
django-cors-middleware==1.5.0
django-debug-toolbar==3.2.2
django-extensions==3.1.5
django-test-without-migrations==0.6
djangorestframework==3.12.4
freezegun==1.1.0
gunicorn==20.1.0
newrelic==7.2.4.171
psycopg2-binary==2.7.7
python-decouple==3.1
python-memcached==1.59
python-twitter==3.5
reprint==0.5.1 # pyup: ignore
requests==2.21.0
rows==0.4.1
tqdm==4.31.1
whitenoise==4.1.2
