[Amazon]
Bucket: serenata-de-amor-data
AccessKey: YOUR_ACCESS_KEY
Region: sa-east-1
SecretKey: YOUR_SECRET_KEY

[Email]
Password: YOUR_PASSWORD

[Foursquare]
ClientId: YOUR_CLIEND_ID
ClientSecret: YOUR_CLIENT_SECRET

[Google]
APIKey: YOUR_API_KEY

[Yelp]
AccessToken: YOUR_ACCESS_KEY
