git+https://github.com/marcusrehm/neo4jupyter.git@master
aiofiles==0.3.0
aiohttp==1.3.1
beautifulsoup4==4.6.0
geopy==1.11.0
grequests==0.3.0
humanize==0.5.1
igraph==0.1.11
ipython-cypher==0.2.4
ipython==5.1.0
jgraph==0.2.1
networkx==1.11
nltk==3.2.1
pandas>=0.18.1
py2neo==3.1.2
pycpfcnpj==1.0.2
scikit-learn==0.18.1
seaborn==0.7.1
serenata-toolbox
tinys3==0.1.11
tqdm==4.11.2
