aiofiles==0.8.0
aiohttp==3.8.1
beautifulsoup4==4.10.0
geopy==2.2.0
grequests==0.6.0
humanize==3.13.1
numpy==1.22.0
pandas==0.24.1
python-decouple==3.5
requests==2.26.0
serenata-toolbox  # pyup: ignore
tqdm==4.62.3
