#content-main .changelink,
#content-main .submit-row,
#content-main p,
#historicalreimbursement_form p,
#recent-actions-module {
  display: none
}

td.field-value {
  white-space: nowrap
}

.required label,
label.required {
  color: #666;
  font-weight: normal;
}
