brutils==1.0.1
docopt==0.6.2
freezegun==0.3.15
geopy==1.22.0
ipdb==0.13.2
numpy==1.18.4
# scipy must come before scikit-learn in order to build the wheel in docker image
scipy==1.2.1
scikit-learn==0.20.2
serenata-toolbox  # pyup: ignore
