brutils==1.0.1
docopt==0.6.2
freezegun==1.1.0
geopy==2.1.0
ipdb==0.13.9
numpy==1.21.0
# scipy must come before scikit-learn in order to build the wheel in docker image
scipy==1.7.0
scikit-learn==0.20.2
serenata-toolbox  # pyup: ignore
